<div class="text-center mt-3">
    <h2>Total Users - {{pagination.totalItems}} found</h2>
  </div>
  
  <div class="container mt-3">
    <form class="form-inline" #form="ngForm" (ngSubmit)="getUseraWithRoles()" novalidate>
        
      
        <div class="form-group px-2">
          <label for="role">Show: </label>
          <select class="form-control ml-1" style="width: 130px" 
            id="role" name="role"  [(ngModel)]="userParams.role">
            <option *ngFor="let role of roleList" [value]="role.value">
              {{role.display}}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
        <button type="button" class="btn btn-info" style="margin-left:10px"
          (click)="resetFilter()"
          >Reset Filter</button>
        <div class="col">
            <div class="btn-group float-right">
              <button type="button" name="orderBy" class="btn btn-primary" 
                btnRadio="lastActive" [(ngModel)]="userParams.orderBy" (click)="getUseraWithRoles()"
              >Last Active</button>
              <button type="button" name="orderBy" class="btn btn-primary" 
                btnRadio="created" [(ngModel)]="userParams.orderBy" (click)="getUseraWithRoles()"
              >Newest Members</button>
            </div>
          </div>        
      </form>
      <br>  
      <div class="role">
        <table class="table">
          <tr>
            
            <th styles="width: 25%">Name</th>
            <th styles="width: 25%">Roles</th>
            <th styles="width: 25%">LastActive</th>
            <th styles="width: 10%">LockUnlock</th>
            <th styles="width: 10%">EditUser</th>
            <th styles="width: 10%">Delete</th>
          </tr>
          <tr *ngFor="let user of users">
            
            <td>{{user.username}}</td>
            <td><button class="btn btn-warning" (click)="editRolesModal(user)">{{user.userRoles}}</button></td>
            <td>{{user.lastActive}}</td>
            <td><button class="btn btn-warning" (click)="lockUnlock(user)">{{ IsLockedout(user.lockoutEnd) ? 'Lock' : 'Unlock' }}</button></td>
            <td><button class="btn btn-warning" (click)="editRolesModal(user)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button></td>
          </tr>
        </table>
      </div>
  </div>
  
  <div class="d-flex justify-content-center">
    <pagination 
      [boundaryLinks]="true" 
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" 
      nextText="&rsaquo;" 
      firstText="&laquo;" 
      lastText="&raquo;">
    </pagination>
  </div>